/.pytest_cache
/include
/Lib
/Scripts
/__pycache__/
/.mypy_cache
pyvenv.cfg
/src/ez_route/__pycache__
/src/ez_route/*/__pycache__
/test/__pycache__
/src/.pytest_cache
/src/ez_route.egg-info
/src/test/__pycache__
/build
/dist